openapi: 3.1.0
info:
  title: Assinafy Digital Signature API
  version: 1.0.0
  description: |
    API oficial para integração com a plataforma Assinafy de assinaturas digitais.

    ## Autenticação

    A API suporta três formas de autenticação:
    - **API Key**: Cabeçalho `X-Api-Key: {api_key}` (recomendado para integrações servidor-a-servidor)
    - **Bearer Token**: Cabeçalho `Authorization: Bearer {access_token}`
    - **Query Parameter**: `?access-token={access_token}` (menos seguro, não recomendado)

    ## Ambientes

    | Ambiente | URL |
    |----------|-----|
    | Sandbox | https://sandbox.assinafy.com.br/v1 |
    | Produção | https://api.assinafy.com.br/v1 |

  contact:
    name: ASOF Technical Team
    email: tech@asof.example.com

servers:
  - url: https://sandbox.assinafy.com.br/v1
    description: Ambiente de Sandbox (homologação)
  - url: https://api.assinafy.com.br/v1
    description: Ambiente de Produção

security:
  - apiKeyAuth: []
  - bearerAuth: []
  - accessTokenQuery: []

tags:
  - name: Signers
    description: Gerenciamento de signatários
  - name: Documents
    description: Gerenciamento de documentos
  - name: Assignments
    description: Solicitações de assinatura
  - name: Webhooks
    description: Configuração e eventos de webhook

paths:
  /accounts/{accountId}/signers:
    post:
      tags: [Signers]
      summary: Criar signatário
      description: Cria um novo signatário na conta especificada
      operationId: createSigner
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignerCreate'
            example:
              full_name: "João Silva"
              email: "joao.silva@example.com"
              whatsapp_phone_number: "5548999990000"
      responses:
        '201':
          description: Signatário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    get:
      tags: [Signers]
      summary: Listar signatários
      description: Lista todos os signatários da conta
      operationId: listSigners
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: Lista de signatários
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Signer'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /accounts/{accountId}/signers/{signerId}:
    get:
      tags: [Signers]
      summary: Consultar signatário
      description: Obtém detalhes de um signatário específico
      operationId: getSigner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/signerId'
      responses:
        '200':
          description: Detalhes do signatário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Signers]
      summary: Atualizar signatário
      description: |
        Atualiza dados de um signatário.
        **Atenção**: Um signatário só pode ser atualizado enquanto não estiver associado a um documento ativo.
      operationId: updateSigner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/signerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignerUpdate'
            example:
              full_name: "João Santos Silva"
              email: "joao.santos@example.com"
      responses:
        '200':
          description: Signatário atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        '400':
          description: Signatário possui documentos ativos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{accountId}/documents:
    get:
      tags: [Documents]
      summary: Listar documentos
      description: Lista todos os documentos da conta com filtros opcionais
      operationId: listDocuments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: search
          in: query
          description: Termo para busca em título ou nome do arquivo
          schema:
            type: string
        - name: status
          in: query
          description: Filtrar por status do documento
          schema:
            $ref: '#/components/schemas/DocumentStatus'
        - name: method
          in: query
          description: Filtrar por método de assinatura
          schema:
            $ref: '#/components/schemas/SignatureMethod'
      responses:
        '200':
          description: Lista de documentos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

    post:
      tags: [Documents]
      summary: Upload de documento
      description: |
        Faz upload de um arquivo PDF para processamento.
        O nome do arquivo deve ser padronizado antes do upload.
      operationId: uploadDocument
      security:
        - apiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Arquivo PDF para upload (máximo 10MB)
            encoding:
              file:
                contentType: application/pdf
      responses:
        '201':
          description: Documento enviado para processamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              example:
                id: "doc_abc123"
                title: "Ofício ABC-2026-001"
                file_name: "oficio_abc_001.pdf"
                status: "uploading"
                created_at: "2026-03-18T10:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: Arquivo muito grande
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /documents/{documentId}:
    get:
      tags: [Documents]
      summary: Consultar documento
      description: Obtém detalhes completos de um documento específico
      operationId: getDocument
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Detalhes do documento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /documents/{documentId}/download/{artifactName}:
    get:
      tags: [Documents]
      summary: Download de artefato
      description: |
        Baixa um artefato do documento.
        Use `certificated` ou `bundle` para documentos finalizados.
      operationId: downloadArtifact
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/documentId'
        - name: artifactName
          in: path
          required: true
          description: Tipo de artefato a ser baixado
          schema:
            $ref: '#/components/schemas/ArtifactType'
      responses:
        '200':
          description: Arquivo binário do artefato
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Artefato não disponível para este documento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /documents/statuses:
    get:
      tags: [Documents]
      summary: Enumerar status de documento
      description: Retorna a lista completa de status possíveis para documentos
      operationId: listDocumentStatuses
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de status
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuses:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentStatus'

  /documents/{documentId}/assignments:
    post:
      tags: [Assignments]
      summary: Criar solicitação de assinatura
      description: |
        Cria uma nova solicitação de assinatura (assignment) para o documento.

        ## Métodos de Assinatura

        ### Virtual (Automatizado)
        Uso aceitável na ASOF: documentos internos padronizados com autorização formal prévia.

        ### Collect (Com Evidências)
        Uso recomendado: documentos sensíveis, externos ou com maior potencial de contestação.
      operationId: createAssignment
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AssignmentVirtual'
                - $ref: '#/components/schemas/AssignmentCollect'
            discriminator:
              propertyName: method
              mapping:
                virtual: '#/components/schemas/AssignmentVirtual'
                collect: '#/components/schemas/AssignmentCollect'
      responses:
        '201':
          description: Solicitação de assinatura criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /accounts/{accountId}/webhooks/subscriptions:
    get:
      tags: [Webhooks]
      summary: Listar inscrições de webhook
      description: Lista todas as inscrições de webhook configuradas para a conta
      operationId: listWebhookSubscriptions
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Lista de inscrições
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'

    put:
      tags: [Webhooks]
      summary: Configurar webhook
      description: Configura ou atualiza a URL de webhook para receber eventos
      operationId: configureWebhook
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: URL pública que receberá os eventos POST
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WebhookEventType'
                  description: Lista de eventos desejados (vazio = todos)
      responses:
        '200':
          description: Webhook configurado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'

  /accounts/{accountId}/webhooks/inactivate:
    put:
      tags: [Webhooks]
      summary: Desativar webhook
      description: Desativa o webhook da conta (para de receber eventos)
      operationId: inactivateWebhook
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Webhook desativado

  /webhooks/event-types:
    get:
      tags: [Webhooks]
      summary: Listar tipos de eventos
      description: Retorna todos os tipos de eventos disponíveis para webhook
      operationId: listWebhookEventTypes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de tipos de eventos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEventType'

  /accounts/{accountId}/webhooks:
    get:
      tags: [Webhooks]
      summary: Listar histórico de webhooks
      description: Lista os dispatches de webhook enviados para a conta
      operationId: listWebhookDispatches
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: delivered
          in: query
          description: Filtrar por status de entrega
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de dispatches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookDispatch'

  /accounts/{accountId}/webhooks/{dispatchId}/retry:
    post:
      tags: [Webhooks]
      summary: Reenviar webhook
      description: Reenvia um webhook que falhou anteriormente
      operationId: retryWebhook
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: dispatchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook reenviado

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Autenticação via API Key (recomendado para backend)

    bearerAuth:
      type: http
      scheme: bearer
      description: Autenticação via Bearer Token

    accessTokenQuery:
      type: apiKey
      in: query
      name: access-token
      description: Autenticação via query parameter (não recomendado para produção)

  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: ID da conta Assinafy
      schema:
        type: string
      example: "acc_123abc456def"

    documentId:
      name: documentId
      in: path
      required: true
      description: ID do documento
      schema:
        type: string
      example: "doc_xyz789"

    signerId:
      name: signerId
      in: path
      required: true
      description: ID do signatário
      schema:
        type: string
      example: "sig_456def789"

    page:
      name: page
      in: query
      description: Número da página (inicia em 1)
      schema:
        type: integer
        default: 1
        minimum: 1

    perPage:
      name: per-page
      in: query
      description: Itens por página
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100

  schemas:
    Signer:
      type: object
      properties:
        id:
          type: string
          description: ID único do signatário na Assinafy
        full_name:
          type: string
          description: Nome completo do signatário
        email:
          type: string
          format: email
          description: E-mail do signatário
        whatsapp_phone_number:
          type: string
          description: 'Telefone WhatsApp (formato: 55DDD+Número)'
          pattern: '^55\\d{2}\\d{8,9}$'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SignerCreate:
      type: object
      required: [full_name, email]
      properties:
        full_name:
          type: string
          example: "Maria Santos Silva"
        email:
          type: string
          format: email
          example: "maria.silva@example.com"
        whatsapp_phone_number:
          type: string
          example: "5548999998888"

    SignerUpdate:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email

    Document:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        file_name:
          type: string
        status:
          $ref: '#/components/schemas/DocumentStatus'
        method:
          $ref: '#/components/schemas/SignatureMethod'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DocumentDetail:
      allOf:
        - $ref: '#/components/schemas/Document'
        - type: object
          properties:
            sha256_hash:
              type: string
              description: Hash SHA-256 do arquivo original
            expires_at:
              type: string
              format: date-time
              nullable: true
            certificated_at:
              type: string
              format: date-time
              nullable: true
            signers:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  full_name:
                    type: string
                  email:
                    type: string
                  status:
                    type: string
                    enum: [pending, signed, rejected]
                  signed_at:
                    type: string
                    format: date-time
                    nullable: true

    AssignmentVirtual:
      type: object
      required: [method, signers]
      properties:
        method:
          type: string
          enum: [virtual]
        signers:
          type: array
          minItems: 1
          items:
            type: object
            required: [id]
            properties:
              id:
                type: string
                description: ID do signatário (signer_id)
        message:
          type: string
          description: Mensagem enviada aos signatários
          maxLength: 1000
        expires_at:
          type: string
          format: date-time
          description: Data/hora de expiração da solicitação

    AssignmentCollect:
      type: object
      required: [method, signers, entries]
      properties:
        method:
          type: string
          enum: [collect]
        signers:
          type: array
          minItems: 1
          items:
            type: object
            required: [id]
            properties:
              id:
                type: string
        entries:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Entry'
        message:
          type: string
          maxLength: 1000
        expires_at:
          type: string
          format: date-time

    Entry:
      type: object
      required: [page_id, fields]
      properties:
        page_id:
          type: string
          description: ID da página onde o campo será posicionado
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'

    Field:
      type: object
      required: [signer_id, field_id, display_settings]
      properties:
        signer_id:
          type: string
        field_id:
          type: string
          description: 'Tipo do campo (ex: "signature", "text")'
        display_settings:
          $ref: '#/components/schemas/DisplaySettings'

    DisplaySettings:
      type: object
      properties:
        left:
          type: integer
          description: Posição horizontal em pontos
        top:
          type: integer
          description: Posição vertical em pontos
        fontFamily:
          type: string
          example: "Arial"
        fontSize:
          type: integer
          example: 18
        backgroundColor:
          type: string
          example: "rgb(185, 218, 255)"

    Assignment:
      type: object
      properties:
        id:
          type: string
        document_id:
          type: string
        method:
          $ref: '#/components/schemas/SignatureMethod'
        created_at:
          type: string
          format: date-time

    WebhookSubscription:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        active:
          type: boolean

    WebhookDispatch:
      type: object
      properties:
        id:
          type: string
        event:
          $ref: '#/components/schemas/WebhookEventType'
        endpoint:
          type: string
        delivered:
          type: boolean
        http_status:
          type: integer
        response_body:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer

    ArtifactType:
      type: string
      enum: [original, certificated, certificate-page, bundle]
      description: |
        - `original`: Arquivo PDF original enviado
        - `certificated`: PDF com assinaturas e certificação digital
        - `certificate-page`: Página com certificado ICP-Brasil
        - `bundle`: Pacote completo com documento + certificado

    DocumentStatus:
      type: string
      enum:
        - uploading
        - uploaded
        - metadata_processing
        - metadata_ready
        - expired
        - certificating
        - certificated
        - rejected_by_signer
        - pending_signature
        - rejected_by_user
        - failed
      description: Status do documento no fluxo de assinatura

    SignatureMethod:
      type: string
      enum: [virtual, collect]
      description: |
        - `virtual`: Assinatura automatizada (uso controlado)
        - `collect`: Assinatura com posicionamento de campos

    WebhookEventType:
      type: string
      enum:
        - document_prepared
        - document_metadata_ready
        - document_ready
        - document_uploaded
        - signature_requested
        - signer_created
        - signer_email_verified
        - signer_signed_document
        - signer_rejected_document
        - signer_viewed_document
        - document_certificated
        - document_processing_failed

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Requisição inválida
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "bad_request"
            message: "O campo 'email' é obrigatório"

    Unauthorized:
      description: Credenciais inválidas
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "unauthorized"
            message: "API Key inválida"

    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "not_found"
            message: "Documento não encontrado"

    TooManyRequests:
      description: Excesso de requisições
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "too_many_requests"
            message: "Limite de taxa excedido. Tente novamente em 60 segundos."
